/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */


/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
	#top-nav li.logo-between a {
		display:block;
		max-width:98px;
		padding:0;
		margin:10px 0 0;
		cursor:default;
	}
	#top-nav li.logo-between {
		max-width:100%;
	}
	#top-nav li.logo-between a:hover {
		background-color:none !important;
	}
}

/*
MODULE STYLES
-----------------
Styling for each module on one pager */

#campaigns span.heading {
	display:none;
}

#campaigns .article-content header h1 {
	display:none;
}

.slide-content .entry a img {
	margin:0 auto;
}

/* 
BLOG POST
-----------------
blog integration styling */
#blog-posts article {
	float:left;
	width:620px;
}

#blog-posts #main {
	max-width:620px;
	overflow:hidden;
	position:relative;
	float:right;
}

#block-posts #main .sliderWrapBL {
	overflow:auto;
	position:relative;
}

#blog-posts .twitter-section {
	float:left;
}




/* 
FACEBOOK STYLING
-----------------
Facebook integration styling */
			.clear { clear:both; }

			.facebook-section {
				overflow:hidden;
			}

			.facebook-section #friends {
				float:right;
				max-width:630px;
				overflow:hidden;
			}

			.facebook-section #posts {
				float:left;
			}

			.facebook-section .postWrapper {
                overflow:hidden;
            }

            .facebook-section .postWrapper p {
                float:left;
                max-width:150px;
                font-size:12px;
            }

            .facebook-section a.friend {
				width:64px;
				height:64px;
				display:inline-block;
				margin:10px;
			}

			.facebook-section a.friend img {
				/*max-width:100%;*/
				width:64px;
				height:64px;
			}

            .facebook-section a.posts {
                margin:10px;
                display:block;
                float:left;
            }

            .facebook-section #loading-posts {
                overflow:hidden;
                position:relative;
                max-width:281px;
            }

            .facebook-section .pcWrap {
                float:left;
                max-width:281px;
            }

            .facebook-section img.post-img {
                width:144px;
                height:146px;
            }

            .facebook-section .sliderWrap {
            	overflow:auto;
            	position:relative;
            }

            .facebook-section #rightControl {
            	float:right;
            }

            .facebook-section #leftControl {
            	float:left;
            }

/* 
LENS SLIDER STYLING
-----------------
LENS SLIDER EVENTS styling */

#events .ls_def_ibanner_banner .abs {
	float:right;
}

#events .ls_def_ibanner_banner .abs, #events .ls_def_ibanner_banner .abs .desc {
	max-width:455px;
}

#events .ls_def_ibanner_banner .abs, #events .ls_def_ibanner_banner .abs a, #events .ls_def_ibanner_banner .abs .desc{
	border-bottom: none !important;
	background: none !important;
}

#events .slide-img {
	max-width:468px;
	margin:0 15px 0 0;
} 

#events .ls_def_ibanner div {
	background:#f6f6f6;
}


/* 
TWITTER STYLING
-----------------
Twitter styling */

#blog-posts .twitter-timeline {
	width:338px !important;
}

#leftControlBL {
	float:left;
}

#rightControlBL {
	float:right;
}


