/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */


/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
	#top-nav li.logo-between a {
		display:block;
		max-width:98px;
		padding:0;
		margin:10px 0 0;
		cursor:default;
	}
	#top-nav li.logo-between {
		max-width:100%;
	}
	#top-nav li.logo-between a:hover {
		background-color:none !important;
	}
}


/* 
FACEBOOK STYLING
-----------------
Facebook integration styling */

			.facebook-section .postWrapper {
                overflow:hidden;
            }

            .facebook-section .postWrapper p {
                float:left;
            }

            .facebook-section a.friend {
				width:64px;
				height:64px;
				display:inline-block;
				margin:10px;
			}

			.facebook-section a.friend img {
				/*max-width:100%;*/
				width:64px;
				height:64px;
			}

            .facebook-section a.posts {
                margin:10px;
                display:block;
                float:left;
            }

            .facebook-section #loading-posts {
                overflow:hidden;
            }

            .facebook-section .pcWrap {
                float:left;
                max-width:340px;
            }

            .facebook-section img.post-img {
                width:144px;
                height:146px;
            }