/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */


/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
	#top-nav li.logo-between a {
		display:block;
		max-width:98px;
		padding:0;
		margin:10px 0 0;
		cursor:default;
	}
	#top-nav li.logo-between {
		max-width:100%;
	}
	#top ul#top-nav li.logo-between, #top ul#top-nav li.logo-between:hover a, #top ul#top-nav li.logo-between a:hover {
		background:none !important;
	}
}



/*
MODULE STYLES
-----------------
Styling for each module on one pager */
#top {
	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

#top.scrollpast .oftb-logo a {
	display:none !important;
}

/*#top.scrollpast #home-nav {
	display:block;
}*/

#top.scrollpast ul.nav > li a {
	padding:2.1em 1em 0 !important;

}

#top.scrollpast ul.nav li.logo-between a {
	padding:0.5em 1em 0 !important;
}

#top.scrollpast ul.nav li.logo-between a img {
	width:25px;
}

#top.scrollpast #shadow-top {
	top:95px !important;
}

#top.scrollpast ul.nav > li a, #top ul.nav > li a, #top.scrollpast ul.nav li.logo-between a, #top ul.nav li.logo-between a, #top.scrollpast ul.nav li.logo-between a img, #top.scrollpast #shadow-top, #top #shadow-top  {
	-webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

#home-nav {
	display:none;
	width:25px;
}

#campaigns span.heading {
	display:none;
}

#campaigns .article-content header h1, #getInvolved .article-content header h1, #aCancer .article-content header h1, #donate .article-content header h1, #partners .article-content header h1, #contact-area .article-content header h1, #contact-area h2.widget-title {
	display:none;
}

.slide-content .entry a img {
	margin:0;
}



/* 
BLOG POST
-----------------
blog integration styling */
#blog-posts article {
	float:left;
	max-width:585px;
	max-height:524px;
	padding:0 20px 20px;
	margin:0 0 26px 0;

	-moz-box-shadow:inset 0px -11px 8px -10px #CCC;
	-webkit-box-shadow:inset 0px -11px 8px -10px #CCC;
	box-shadow:inset 0px -11px 8px -10px #CCC;

	overflow-x:hidden;
	overflow-y:scroll;
}

#blog-posts #main {
	max-width:643px;
	overflow:hidden;
	position:relative;
	float:left;

	background-color:#fff;
	min-height:571px;
	border-bottom:5px solid #ccc;
}

#blog-posts #mainWrapBlog {
	position:relative;
	max-width:643px;
	float:left;

}

#blog-posts .main-padding {
	padding:0;
}

#block-posts #main .sliderWrapBL {
	overflow:auto;
	position:relative;
}

#blog-posts .twitter-section {
	float:left;
	margin:0 1em 0 0;
}

#blog-posts span.post-category {
	display:none;
}

#blog-posts .post header h1, #block-posts .post header h1 a {
	font-family:'LubalinGraphLTBold', Open Sans, sans-serif !important;
	font-size:24px;
	font-weight:normal;
	line-height:24px;
	color:#999999 !important;
	text-decoration:none !important;
}

 #block-posts .post header h1 a:hover {
 	text-decoration:none !important;
 }

#blog-posts .post .post-date-author {
	float:left;
	font-family:'LubalinGraphLTBold', Open Sans, sans-serif !important;
	font-size:14px !important;
	font-style:normal !important;
	line-height:24px;
	color:#999999;
}

#blog-posts a.rslides_nav, a.rslides_nav {
	position:absolute;
	top:10px;
	z-index:9999;

	display:block;
	width:10px;
	height:15px;
	background:url('images/navArrows.png') no-repeat scroll 0 0;
	font:0/0 a;
	text-shadow:none;
	color:transparent;
}

#blog-posts a.rslides_nav.prev, a.rslides_nav.prev {
	left:10px;
	background-position:0 0;
}

#blog-posts a.rslides_nav.next, a.rslides_nav.next {
	right:10px;
	background-position:-9px 0;
}

#getInvolved #posts h2 { text-align:center; }

#loadingFriends, #loadingComments {
	font-size:11px;
}

::-webkit-scrollbar {
	width:12px;
}

::-webkit-scrollbar-track{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:10px;
}

::-webkit-scrollbar-thumb{
	border-radius:10px;
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}

/*::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}*/

/* 
Twitter plug
-----------------
Twitter integration styling */
#twitter-api {
	max-width:23em;
	background:#fff;
	border-bottom:5px solid #ccc;
}

#twitter-api h1 {
	font-family:'LubalinGraphLTBold', Open Sans, sans-serif;
	font-size:24px;
	line-height:24px;
	color:#999999;
}
.twitter-padding {
	padding:15px;
}

#twitter2 {
	overflow-y:scroll;
	overflow-x:hidden;
	max-width:336px;
	height:338px;

	/*list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;*/
}

.button, .tweetthis.button {
	background-color:#999;
	color:#fff;
	text-transform:capitalize;
	padding:2px 9px;
	
	-moz-text-shadow:none !important;
	-webkit-text-shadow:none !important;
	text-shadow:none !important;

	-moz-border-radius:1px;
	-webkit-border-radius:1px;
	border-radius:1px;

	font-family:'Arial', helvetica, sans-serif;
	font-size:13px;
	letter-spacing:1px;
	font-weight:normal;

	-moz-box-shadow:0 0 1px 1px #ccc;
	-webkit-box-shadow:0 0 1px 1px #ccc;
	box-shadow:0 0 1px 1px #ccc;
}

#twitter-postbox {
	max-width:292px;
}

#twtPost {
	width:100%;
	min-height:66px;

	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;

	-moz-box-shadow:0 0 3px 0px #366f9f inset;
	-webkit-box-shadow:0 0 3px 0px #366f9f inset;
	box-shadow:0 0 3px 0px #366f9f inset;
}

.jtwt { list-style: none; }
.jtwt li { margin-bottom: 35px; }
.jtwt li:last-child { margin-bottom: 0px; }
.jtwt_loader { font-weight: bold; }
.jtwt_picture { float: left; margin-right: 10px; }
p.jtwt_tweet_text { color:#04000a; }
p.jtwt_tweet_text, p.jtwt_tweet_text a { text-align: left; font-family:'Helvetica', Arial, sans-serif; font-size:13px; line-height:16px; font-weight:normal; margin:0; padding:0;}
a.jtwt_date { font-size: 12px; }

/* 
FACEBOOK STYLING
-----------------
Facebook integration styling */
			.clear { clear:both; }

			.facebook-section {
				overflow:hidden;
			}

			.facebook-section #friends {
				/*float:left;*/
				max-width:660px;
				overflow:hidden;
			}

			.facebook-section #posts {
				float:left;
				margin:0 1em 0 0;
				position:relative;
			}

			.facebook-section #postForm {
				position:absolute;
				top:250px;
				left:0;
				z-index:9999;
				width:100%;
			}

			.facebook-section #postForm textarea {
				width:100%;
				padding:0.236em 0;
			}

			.facebook-section .postWrapper {
                overflow:hidden;
                margin:0 0 140px 0;
            }

            .facebook-section .postWrapper p {
                float:left;
                max-width:150px;
                font-size:12px;
            }

            .facebook-section .commentsWrapper {
            	height:350px;
            	overflow-x:hidden;
            	overflow-y:scroll;
            }

            .facebook-section .friendBlockWrap64 {
            	width:64px;
            	float:left;
            	margin:0 8px 0 8px;
            }

            .facebook-section .friendBlockWrap64 .friendWrap {
            	margin:8px 0 8px 0;
            }

            .facebook-section .friendBlockWrap144 {
            	width:144px;
            	float:left;
            	margin:0;
            }

            .facebook-section a.comments img {
            	max-width:64px;
            }

            .facebook-section .friendWrapCeleb, .facebook-section .friendWrapCeleb a.friendCeleb, .facebook-section .friendWrapCeleb .friend-detail-wrap {
            	width:144px;
            	height:144px;
            	float:left;
            	margin:8px;
            	/*position:absolute;*/
            	/*display:inline-block;*/
            }

            .facebook-section .friendWrapCeleb a.friend img {
            	width:144px;
            	height:144px;
            }

            .facebook-section .friendWrap {
            	position:relative;
            }

            .facebook-section a.friend, .facebook-section .friend-detail-wrap, .facebook-section .friendWrap, .facebook-section a.iLike, .facebook-section a.friendLike {
				width:64px;
				height:64px;
				margin:8px;
				float:left;
				/*position:absolute;*/
				/*display:inline-block;*/
			}

			.facebook-section a.friend, .facebook-section a.friendCeleb, .facebook-section a.iLike, .facebook-section a.friendLike {
				margin:0 !important;
			}

			.facebook-section a.friend, .facebook-section .friend-detail-wrap, .facebook-section a.iLike, .facebook-section a.friendLike {
				position:absolute;
				top:0;
				left:0;
			}

			.facebook-section a.friend, .facebook-section a.iLike, .facebook-section a.friendLike, .facebook-section .friendCeleb {
				z-index:2;
			}

			.facebook-section .friend-detail-wrap {
				z-index:1;
				background:#ccc;
				border:1px inset #eee;
				margin:0 !important;
			}

			.facebook-section a.friend-detail {
				font-size:9px;
				text-decoration:none;
				padding:5px;
				text-align:center;
				vertical-align:bottom;
				display:block;
			}

			.facebook-section a.friend img {
				/*max-width:100%;*/
				width:64px;
				height:64px;
			}

            .facebook-section a.posts {
                margin:8px;
                display:block;
                float:left;
                margin:0;
                padding:0;
            }

            .facebook-section #loading-posts {
                overflow:hidden;
                position:relative;
                width:300px;
            }

            .facebook-section .pcWrap {
                float:left;
                width:300px;
            }

            .facebook-section img.post-img {
                width:144px;
                height:146px;
            }

            .facebook-section .sliderWrap {
            	overflow:auto;
            	position:relative;
            	z-index:1;
            }

            .facebook-section #rightControl {
            	float:right;
            }

            .facebook-section #leftControl {
            	float:left;
            }

            .facebook-section #facebook-friend-temp {

            }

            .facebook-section .commentsWrapper .comments {
            	margin:0 0 10px 0;
            	position:relative;
            	overflow:hidden;
            }

            .facebook-section .commentsWrapper .comments a {
            	margin:0 10px 0 0;
            	display:block;
            	float:left;
            }

            .facebook-section .commentsWrapper .comments span.time {
            	float:left;
            	font-size:11px;
            	display:block;
            }

/* 
LENS SLIDER STYLING
-----------------
LENS SLIDER EVENTS styling */

#events-section-two .ls_def_ibanner {
	max-width:915px;
	height:394px;
	margin:0 auto;
}

#events #events-section-two .ls_def_ibanner {
	height:350px;
	background:none;
}

#events .ls_def_ibanner_banner .abs {
	float:right;
	padding:15px 15px 15px 0;
}

#events .ls_def_ibanner_banner .abs, #events .ls_def_ibanner_banner .abs .desc {
	max-width:400px;
}

#events .ls_def_ibanner_banner .abs, #events .ls_def_ibanner_banner .abs a, #events .ls_def_ibanner_banner .abs .desc{
	border-bottom: none !important;
	background: none !important;
}

#events .slide-img {
	max-width:468px;
	margin:0 15px 0 0;
	padding:15px 0 15px 15px;
	float:left;
} 

#events #events-section-two .ls_def_ibanner div {
	background:#f6f6f6;
}

#events #events-section-one .ls_def_ibanner div {
	background:url('images/events-one-bg.jpg') repeat scroll 0 0;
}

#events .ls_def_ibanner_nav {
	bottom:40px;
}

#events-section-one header h1, #events-section-two header h1 {
	display:none;
}

#events-section-one .ls_def_ibanner {
	border-bottom:5px solid #ccc;
}

#events-section-two #main {
	background:url('images/events-bg.png') no-repeat scroll 50% 0;
	background-size:100% 100%;
	min-height:643px;
}

#events-section-two #main article {
	padding:149px 0 48px;
}
/* 
TWITTER STYLING
-----------------
Twitter styling */

#blog-posts .twitter-timeline {
	width:338px !important;
}

#leftControlBL {
	float:left;
	left:20px;
}

#rightControlBL {
	float:right;
	right:20px;
}

.controlBL {
	position:relative;
	top:20px;
}

.control a , .controlBL a {
	display:block;
	width:10px;
	height:15px;
	background:url('images/navArrows.png') no-repeat scroll 0 0;
	font:0/0 a;
	text-shadow:none;
	color:transparent;
}

#leftControl a, #leftControlBL a {
	background-position:0 0;
}

#rightControl a, #rightControlBL a {
	background-position:-9px 0;
}

/* 
CONTACT US STYLING
-----------------
contact us styling */
#contact-area h2.widget-title #contact-area #connect .social {
	display:none;
}

#contact-area .co-full {
	background-color:#fff;
	padding:15px;
}

#contact-area .sndBtn {
	background:#234766 !important;
	color:#fff !important;
	text-transform:uppercase !important;
}

#contact-area .sndBtn:hover {
	background:#39668c !important;
}

/* 
FOOTER
-----------------
Footer styling */

#foot-links {
	margin:0;
	padding:0;
	overflow:hidden;
}

#foot-links li {
	list-style-type:none;
	margin:0 10px 0 0;
	padding:0;
	float:left;
}

#foot-links li a {
	display:block;
	font:13px/24px 'Helvetica', Arial, sans-serif;
	color:#666666;
	text-decoration:underline;
}

#footer #copyright {
	margin:40px 0 1em;
}

#copyright p{
	font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
	font-size:13px;
	line-height:24px;
	color:#666;
}

#copyright p.smlPrint {
	font-size:10px;
}

#footer #uac-logo {
	float:right;
}

#footer #uac-logo img {
	vertical-align:top;
}


/* RESPONSIVE SLIDE SHOW
------------------------
http://responsiveslides.com/*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li, .rslides article {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child, .rslides article:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }